@page "/shop"
@using Data.Models.CategoryModels
@using Data.Models.ProductModels
@using FastFood_Client.HttpRepositories.Interfaces
@inject IHttpProductService HttpProductService
@inject IHttpCategoryService HttpCategoryService
@inject NavigationManager NavigationManager

<PageTitle>Sản Phẩm</PageTitle>

<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Sản Phẩm</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                    <a href="/">Trang Chủ</a>
                    <span>Sản Phẩm</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="shop__option__search">
                        <form action="#">
                            <select @bind-value="SelectedCategory" @bind-value:event="oninput">
                                <option value="">Loại sản phẩm</option>
                                @if (Categories != null)
                                {
                                    @foreach (var category in Categories)
                                    {
                                        <option value="@category.Id">@category.Name</option>
                                    }
                                }
                                else
                                {
                                    <option value="">Không có loại sản phẩm</option>
                                }
                            </select>
                            <input type="text" placeholder="Từ khóa sản phẩm..." @bind-value="SearchKeyword" @oninput="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="shop__option__right option1">
                        <select>
                            <option value="">Sản phẩm theo giá</option>
                            <option value="">0 - 30.000đ</option>
                            <option value="">30 - 100.000đ</option>
                            <option value="">100 - 200.000đ</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2">
                    <div class="shop__option__right">
                        <select @bind-value:event="oninput" @bind-value="SelectedCategory">
                            <option value="">Loại sản phẩm</option>
                            @if (Categories != null)
                            {
                                @foreach (var category in Categories)
                                {
                                    <option value="@category.Id">@category.Name</option>
                                }
                            }
                            else
                            {
                                <option value="">Không có loại sản phẩm</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            @if (FilteredProducts != null)
            {
                @foreach (var product in FilteredProducts)
                {
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="product__item">
                            <div class="product__item__pic set-bg">
                                <a href="@($"ProductDetails/{product.Id}")">
                                    <img src="@product.Image" />
                                </a>

                                <div class="product__label">
                                    <span>@product.CategoryName</span>
                                </div>
                            </div>
                            <div class="product__item__text">
                                <h6><a href="@($"ProductDetails/{product.Id}")">@product.ProductName</a></h6>
                                <div class="product__item__price">$@product.Price.ToString("0.00")</div>
                                <div class="cart_add">
                                    <a href="cart">Thêm vào giỏ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center">
                    <p>Đang tải dữ liệu sản phẩm...</p>
                </div>
            }

        </div>
        <div class="shop__last__option">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__pagination">
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#"><span class="arrow_carrot-right"></span></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="shop__last__text">
                        <p>Showing 1-9 of 10 results</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
@code {
    private IEnumerable<ProductForView> Products { get; set; }
    private IEnumerable<ProductForView> FilteredProducts { get; set; }
    private IEnumerable<CategoryForView> Categories { get; set; }
    private string SearchKeyword { get; set; } = "";
    private string SortOption { get; set; } = "asc";
    private Guid SelectedCategory { get; set; } = Guid.Empty;

    protected override async Task OnInitializedAsync()
    {
        Products = await HttpProductService.GetAllProductsAsync();
        FilteredProducts = Products;
        Categories = await HttpCategoryService.GetAllCategoriesAsync();
    }

    private void Search()
    {
        if (string.IsNullOrEmpty(SearchKeyword))
        {
            FilteredProducts = Products;
        }
        else
        {
            FilteredProducts = Products.Where(p => p.ProductName.ToLower().Contains(SearchKeyword.ToLower())).ToList();
        }
    }

    private void SortProducts()
    {
        if (SortOption == "asc")
        {
            FilteredProducts = FilteredProducts.OrderBy(p => p.ProductName).ToList();
        }
        else if (SortOption == "desc")
        {
            FilteredProducts = FilteredProducts.OrderByDescending(p => p.ProductName).ToList();
        }
    }
}